

.Entrar { /* Posiciona o botão Entrar acima do .conta-nova */
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: white;
  border: none;
  width: 42%;
  padding: 9px;
  cursor: pointer;
}

.Entrar:hover {
  background-color: #0056b3;
}


.conta-nova {
display: block;
width: 70%;
padding: 10px;
background-color: #2ab811;
color: #fff;
border: none;
border-radius: 5px;
margin: 26px 12.5%;
cursor: pointer;
text-align: center;
margin-top: 52px;
text-decoration: none;
}

.conta-nova:hover {
  background-color:  #319a1e;
}


.login {
text-align: center;
color:  black;
}

div {
margin-bottom: 10px;
}


input {
  width: 100%; /* O input ocupa toda a largura do contêiner */
  padding: 10px; /* Mesmo padding utilizado no input */
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box; /* Inclui a borda e o padding na largura total */
}


button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.formulario {
  width: 100%;
  max-width: 511px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4%;
  height: auto;
  box-sizing: border-box;
  position: absolute;
  top: 18%;
  left: 30%;
  background-color:white ;

}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

/* Novas regras para tornar o formulário responsivo */
/* Entre 602px e 1322px */
@media screen and (min-width: 602px) and (max-width: 1322px) {
  .formulario {
    max-width: 59%;
    position: absolute;
    top: 21%;
    left: 22%;
  }
}

/* Até 601px (celular) */
@media screen and (max-width: 601px) {
  .formulario {
    max-width: 90%;
    position: static;
    transform: none;
    margin-top: 9px;
  }
}

@media screen and (max-width: 600px) {
  img {
    padding-top: 5px; /* Reduzir o espaçamento superior para telas menores */
  }

  /* Estilos responsivos para o botão Fechar */
  .Fechar {
    top: 45%; /* Move o botão para o centro verticalmente */
    left: 40%; /* Move o botão para o centro horizontalmente */
  }
}

.Entrar { /* Posiciona o botão Entrar acima do .conta-nova */
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: white;
  border: none;
}
.Entrar:hover {
  background-color: #0056b3;
}
