<div class="contact-form">
  <h2>Entre em Contato</h2>
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="subjectTitle">Título do Assunto</label>
      <input type="text" id="subjectTitle" formControlName="subjectTitle">
      <div *ngIf="contactForm.get('subjectTitle')?.invalid && (contactForm.get('subjectTitle')?.dirty || contactForm.get('subjectTitle')?.touched)" class="error-message">
        Título do Assunto é obrigatório.
      </div>
    </div>
    <div class="form-group">
      <label for="userEmail">Email do Usuário</label>
      <input type="email" id="userEmail" formControlName="userEmail">
      <div *ngIf="contactForm.get('userEmail')?.invalid && (contactForm.get('userEmail')?.dirty || contactForm.get('userEmail')?.touched)" class="error-message">
        Email do Usuário é obrigatório e deve ser válido.
      </div>
    </div>
    <div class="form-group">
      <label for="message">Assunto</label>
      <textarea id="message" formControlName="message"></textarea>
      <div *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)" class="error-message">
        Assunto é obrigatório.
      </div>
    </div>
    <button type="submit">Enviar</button>
  </form>
  <div class="submission-message" *ngIf="submitted">
    O formulário foi enviado com sucesso!
  </div>
</div>
