:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
}

.map-container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
