/* Estilos para o contêiner de pesquisa */
.search-container {
  display: block;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: #f9f9f9;
  padding: 0px;
  position: absolute;
  top: 61px;
  left: 0px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 997;
}

/* Estilos para os rótulos dos campos de pesquisa */
.search-container label {
  margin-right: 10px;
  font-size: 16px;
}

/* Estilos para o seletor de tipo de vinho */
#tipoVinho {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 23px;
  margin-right: 20px;
}

/* Estilos para o campo de entrada de preço mínimo */
#precoMinimo {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 120px;
}

/* Estilos para o botão de pesquisa */
button {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 11px;
  cursor: pointer;
}

/* Estilos para o botão de pesquisa no hover */
button:hover {
  background-color: #45a049;
}


/* Estilos para o contêiner de vinhos */
.vinhos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px; /* Adicionei uma margem no topo para separar do search-container */
}

/* Estilos para cada elemento de vinho */
.vinhos {
  background-color: white;
  margin-top: 36px;
  width: 20%; /* Largura de cada elemento .vinhos */
  height: calc(75vh - 68px);
  text-align: center;
  margin-right: 2%;
  transition: transform 0.3s ease; /* Adicionando transição para suavizar o efeito hover */
}

.vinhos:hover {
  transform: scale(1.1); /* Aumentar o tamanho do elemento em 10% no efeito hover */
}

/* Estilos para o texto de tipo de vinho */
.Tipo {
  color: rgb(190, 190, 190);
  margin: 1%;
}

/* Estilos para o texto de ano do vinho */
.Ano {
  color: black;
  margin: 1%;
}

/* Estilos para a imagem do vinho */
.wine-image {
  height: auto;
  width: 98%;
  object-fit: cover;
  margin: 1%;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .vinhos {
    width: 71%; /* Ocupar toda a largura disponível */
    margin-right: 0;
    margin-bottom: 20px;
  }

  .wine-image {
    width: 49%; /* Imagem ocupará toda a largura disponível */
    height: auto; /* Altura será ajustada automaticamente para manter a proporção da imagem */
  }



  /* Ajustar os elementos no modo responsivo */

  label {
    margin-bottom: 10px; /* Adicionar espaço entre os elementos */
    margin-right: 0; /* Remover a margem direita para alinhar à esquerda */
  }
  .search-container {
    top: 111px;
  }
}
