<div class="vinhos-container">
    <div class="search-container">
      <label for="tipoVinho">Tipo de Vinho:</label>
      <select id="tipoVinho" [(ngModel)]="tipoVinho">
        <option value="">Todos</option>
        <option value="Tinto">Tinto</option>
        <option value="Branco">Branco</option>
        <option value="Rosé">Rosé</option>
      </select>
      <label for="precoMinimo">Preço Mínimo:</label>
      <input type="number" id="precoMinimo" [(ngModel)]="precoMinimo">
    <!-- Outros campos de pesquisa (preço máximo, ano mínimo, ano máximo) -->

    <button (click)="pesquisar()">Pesquisar</button>
  </div>
  <div *ngFor="let wine of wines" class="vinhos">
    <img [src]="wine.imageUrl" alt="{{ wine.name }}" class="wine-image">
    <h3 class="name">{{ wine.name }}</h3>
    <p class="Tipo">Tipo: {{ wine.type }}</p>
    <p class="Ano">Ano: {{ wine.year }}</p>
    <p class="preço">R$ {{ wine.price }}</p>
  </div>
</div>

