@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200&display=swap');

/* Estilos para o header */
.header {
  font-family: 'Newsreader', serif;
  text-align: left;
  color: black;
  font-size: larger;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 600;
}

/* Estilos para telas menores */
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 20px 0;
    text-align: center;
  }
}

/* Estilos para o ícone do menu */
.menu-icon {
  cursor: pointer;
  font-size: 24px;
  margin-right: 8px; /* Espaçamento entre o ícone e o texto */
  justify-content: space-between;
  position: static;
}

/* Estilos para a lista de opções do menu */
.menu-list {
  justify-content: space-between;
  position: static;
  background-color: white;
  padding: 10px;
  width: 200px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 58px;
  right: 0px;
  z-index: 999; /* Ajuste o valor do z-index conforme necessário */
}

.menu-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-list li {
  color: black;
  padding: 8px;
}

/* Mostrar o menu quando a classe .show-menu estiver presente */
.show-menu .menu-list {
  display: block;
}

a {
  text-decoration: none;
  color: blue;
}

.logo {
  text-decoration: none;
  color: black;
}
