<h3>Vinhos relacionados</h3>
<div class="related-wines">
  <div *ngFor="let relatedWine of relatedWines" class="related-wine">
    <a routerLink="/vinho/{{relatedWine.id}}">
      <img [src]="relatedWine.imageUrl" alt="{{ relatedWine.name }}" />
    </a>
    <div class="itens">
      <div class="nome">
        <h4>{{ relatedWine.name }}</h4>
      </div>
      <div class="tipo">
        <p>Tipo: {{ relatedWine.type }}</p>
      </div>
      <div class="price">
        <p>Preço: {{ relatedWine.price }}</p>
      </div>
    </div>
  </div>
</div>
