<div class="overlay" *ngIf="showOverlay">
  <div class="formulario">
    <form class="form" [formGroup]="formgroup"  (ngSubmit)="onSubmit()">
      <div class="login"><h1>login</h1></div>
      <div class="name">
        <label for="email"></label>
        <input type="email" id="email" formControlName="email" placeholder="Email">
      </div>

      <div class="password">
        <label for="password"></label>
        <input type="password" id="password" formControlName="password" placeholder="Senha">
      </div>

      <button type="submit" class="Entrar">Login</button>
    </form>
    <div class="conta-nova" (click)="openOverlay2()" (click)="closeOverlay()">Criar Conta</div>
    <button (click)="closeOverlay()" class="Fechar">Fechar</button>
  </div>
</div>
