/* Estilos base */
.wines {
  display: flex;
  align-items: flex-start;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
}
h2 {
  text-align: justify;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.descrição {
  font-family: Arial, Helvetica, sans-serif;
}
.wine-image {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  margin: 1px;
  min-width: 500px;
  background-color: transparent;
}

.info-container {
  display: flex;
  flex-direction: column;
}

.name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.1em;
  margin-bottom: 19px;
}

.price {
  font-size: 1.4rem;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-label {
  margin-right: 5px;
  font-size: 0.9rem;
}

.quantity-buttons {
  display: flex;
  align-items: center;
}

.quantity-buttons button {
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  font-size: 1.9rem;
  cursor: pointer;
  margin-right: 5px;
}

.quantity-value {
  font-size: 0.9rem;
  margin: 0 10px;
  text-align: center;
}

input.quantity-value {
  font-size: 0.9rem;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 68px;
  background-color: transparent;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.Comprar {
  display: flex;
  align-items: center;
}

.Comprar button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.Comprar button:hover {
  background-color: #0056b3;
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
  .wines {
    flex-direction: column;
    align-items: center;
  }

  .wine-image {
    max-width: 100%;
    min-width: unset;
  }

  .info-container {
    align-items: center;
    text-align: center;
  }

  .button-container {
    flex-direction: column;
    align-items: center;
  }
  .name{
    margin-bottom: 4px;
  }
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.overlay-content p {
  margin-bottom: 10px;
}

.overlay-content input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #f9f9f9;
  font-size: 14px;
}

.overlay-background {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
