<div *ngIf="wine" class="wines">
  <img [src]="wine.imageUrl" alt="{{ wine.name }}" class="wine-image large-image">

  <div class="info-container">
    <h1 class="name">{{ wine.description }}</h1>
    <p class="price">R$ {{ wine.price * quantity }}</p>

    <div class="button-container">
      <div class="quantity-container">
        <div class="quantity-buttons">
          <button (click)="decreaseQuantity()">-</button>
          <input type="number" [(ngModel)]="quantity" min="1" class="quantity-value">
          <button (click)="increaseQuantity()">+</button>
        </div>
      </div>
      <div class="Comprar"><button>Comprar</button></div>
    </div>

    <div class="description">
     <h2>descrição</h2>
     <br>
      <p class="descrição">{{ wine.productdescription }}</p>
    </div>
  </div>
</div>
