<div *ngIf="wine" class="wines">
  <img [src]="wine.imageUrl" alt="{{ wine.name }}" class="wine-image large-image">
  <div class="info-container">
    <h1 class="name">{{ wine.description }}</h1>
    <p class="price">R$ {{ wine.price * quantity }}</p>

    <div class="button-container">
      <div class="quantity-container">
        <div class="quantity-buttons">
          <button (click)="decreaseQuantity()">-</button>
          <input type="number" [(ngModel)]="quantity" min="1" class="quantity-value">
          <button (click)="increaseQuantity()">+</button>
        </div>
      </div>
      <div class="Comprar"><button>Comprar</button></div>
      <div class="compartilhar" (click)="showShareOverlay = true">Compartilhar</div>
    </div>

    <div class="description">
      <h2>descrição</h2>
      <br>
      <p class="descrição">{{ wine.productdescription }}</p>
      <app-wine-details></app-wine-details>
    </div>
  </div>

  <div class="overlay" *ngIf="showShareOverlay">
    <div class="overlay-content">
      <div class="compartilhar-h3"><h3>compartilhar</h3></div>
      <div class="share-buttons-container">
        <a
          href="https://api.whatsapp.com/send?text={{ wine.url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          Compartilhar no WhatsApp
        </a>
        <a
          href="https://www.facebook.com/sharer/sharer.php?u={{ wine.url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          Compartilhar no Facebook
        </a>
        <a
          href="https://twitter.com/intent/tweet?url={{ wine.url }}&text=Confira este vinho incrível!"
          target="_blank"
          rel="noopener noreferrer"
        >
          Compartilhar no Twitter
        </a>
        <a
          href="mailto:?subject=Confira este vinho incrível&body={{ wine.url }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          Compartilhar por E-mail
        </a>
      </div>
      <div class="copy-url-container">
        <input type="text" [value]="wine.url" readonly id="urlInput">
        <button (click)="copyUrl(wine.url)">Copiar</button>
      </div>
    </div>
    <div class="overlay-background" (click)="showShareOverlay = false"></div>
  </div>
</div>
